<!DOCTYPE HTML>
<html>
	<head>
		<title>Tennis G.O.A.T</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/main.css" />
	</head>
	<body id="top">

			<!-- Banner -->

				<section id="banner" style="background-image: url('../static/css/images/background_tennis1.jpg');">
					<div class="inner">
						<header>
							<h1>THANK YOU FOR CASTING YOUR VOTE</h1>
							<p>Please check your mail for our response.</p>
						</header>
					</div>
                </section>
            
                <!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Poll for the debate of the greatest tennis player of all time</h2>
						<p>Please let us know who you think is the greatest tennis player of all time and we will mail you with the results among people who submit their vote.</p>
						<p class="copyright">Made by : <a href="https://github.com/sabby993" target="_blank">Sabby Roy</a>. Images: <a href="https://www.google.com/imghp?hl=en" target="_blank">Google Images</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jquery.scrolly.min.js"></script>
		<script src="../static/js/jquery.poptrox.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>
	</body>
</html>